<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_page.css') }}">

    <head>
        <title>StaffBot</title>
    </head>
    <body class="center">
    <!--<div><image src="http://www.ultimatecomputerclassses.com/assets/images/microsoft_powerpoint_2013_logosvg.png" width="300px"></image></div>-->
    <br/>
    <br/>
    <div class="center">
        <image src="{{url_for('static', filename = 'staffbot_logo.png')}}" class="center" width = "800px"></image></div>
    <br/>
    <br/>

    <button class="button1"><a href="/projects_clean" type="button projects-button" id="button1" >Projects Board</a></button>
    <button class="button1"><a href="/request_form"type="button resources-button" id="button2">Project Form</a></button>
    <button class="button1"><a href="/resources_clean"type="button resources-button" id="button3">Resource Board</a></button>
    <button class="button1"><a href="/resource_form"type="button resources-button" id="button4">Resource Form</a></button>

    <br/>
    <br/>
    <br/>

    <button class="button2"><a href="/test_email"type="button resources-button" id="button5">Run Matches</a></button>

    <br/>
    <br/>
    <br/>
    <br/>
    <br/>


    <font face="Arial"> Powered by: PySpark4Lyfe</font>


    </body>
</html>
