<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main_page.css') }}">

    <head>
        <title>StaffBot</title>
    </head>
    <body class="center">
    <!--<div><image src="http://www.ultimatecomputerclassses.com/assets/images/microsoft_powerpoint_2013_logosvg.png" width="300px"></image></div>-->
    <div>
        <image src="{{url_for('static', filename = 'staffbot_logo.png')}}" class="center"></image></div>

    <button class="button"><a href="/projects_clean" type="button projects-button" id="button1" >Projects Board</a></button>
    <button class="button"><a href="/resources/"type="button resources-button" id="button2">Project Form</a></button>
    <button class="button"><a href="/resources/"type="button resources-button" id="button3">Resource Board</a></button>
    <button class="button"><a href="/resources/"type="button resources-button" id="button4">Resource Form</a></button>
    <button class="button"><a href="/auto_email"type="button resources-button" id="button5">Run Matches</a></button>


    </body>
</html>
