<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='projects_clean.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='logo.css') }}">
</head>
<body>
<div><a href="/"><image src="{{url_for('static', filename = 'staffbot_logo.png')}}" alt = "centered image" width="200px" id="logo"></image></a></div>
<h2> Staffing resources </h2>
<table>
  <thead>
    <tr>
      <th>Consultant Name</th>
      <th>Practice</th>
      <th>Level</th>
      <th>Office</th>
      <th>Interest</th>
      <th>Date Available</th>
      <th>Resume</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>

    {%for i in range(0, num)%}

    <tr>
      <td><strong>{{consultant_name[i]}}</strong></td>
      <td>{{vert_horiz[i]}}</td>
      <td>{{level[i]}}</td>
      <td>{{office[i]}}</td>
      <td>{{interest_1[i]}} | {{interest_2[i]}}</td>
      <td>{{start_date[i]}}</td>
      <td><a href="/download_resume_pdf/{{consultant_name[i]}}.pdf"><image src="{{url_for('static', filename = 'download_pdf.jpg')}}" height=30></image></a></td>
      <td><a href="
mailto:{{contact_email[i]}}
?cc={{tm_email[i]}}
&subject=Interest in project role
&body=
Hi {{consultant_name[i]}}, %0A
%0A
My name is PARTNER and I am a ____ ____ in the ____ office. %0A
%0A
I see that you're up for staffing starting on {{start_date[i]}} via the staffing portal and wanted to guage your interest on my project. %0A
%0A
Would you be available sometime this week or next to chat further? If so, I will sent up some time on our calendars that works for both of us. %0A
%0A
Thanks, %0A
PARTNER_NAME
"><button>Contact consultant</button></a>
    </tr>

    {%endfor%}

  </tbody>
</table>
<a href="/">Home page</a>
</body>
</html>