<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
</head>
<body>
  <div class="container">
      <div class="row">
          <h3 style = "color: blue">Resource entry form</h3>
      </div>
      <div class="row" style="margin-top:20px">
          <div class="col-md-12">
              <form role="form" action="{{ url_for('handle_data_resources') }}" method="POST" enctype=multipart/form-data>
                  <div class="form-group">
                      <label for="title">Consultant name</label>
                      <input class="form-control" name="consultant_name" placeholder="Consultant Name">
                  </div>

                  <div class="form-group">
                      <label for="vertical">Vertical</label>
                      <select class="form-control" name="vertical">
                          <option value="1">Choose Vertical</option>
                          <option value="TNS">TNS</option>
                          <option value="Risk">Risk</option>
                      </select>
                  </div>

                  <div class="form-group">
                      <label for="horizontal">Horizontal</label>
                      <select class="form-control" name="horizontal">
                          <option value="1">Choose Horizontal</option>
                          <option value="Digital">Digital</option>
                          <option value="PSM">PSM</option>
                      </select>
                  </div>

                  <div class="form-group">
                      <label for="level">Level</label>
                      <select class="form-control" name="level">
                          <option value="1">Choose Level</option>
                          <option value="Consultant">Consultant</option>
                          <option value="Senior Consultant">Senior Consultant</option>
                          <option value="Associate">Associate</option>
                      </select>
                  </div>

                  <div class="form-group">
                      <label for="office">Office</label>
                      <select class="form-control" name="office">
                          <option value="1">Choose Office</option>
                          <option value="Boston">Boston</option>
                          <option value="Toronto">Toronto</option>
                      </select>
                  </div>

                  <hr>

                  <div class="form-group">
                      <label for="interest_1">Interest 1</label>
                      <select class="form-control" name="interest_1">
                          <option value="1">Choose Work Type</option>
                          <option value="CECL">CECL</option>
                          <option value="CCAR">CCAR</option>
                          <option value="Resolution Planning">Resolution Planning</option>
                      </select>
                  </div>

                  <div class="form-group">
                      <label for="interest_2">Interest 2</label>
                      <select class="form-control" name="interest_2">
                          <option value="1">Choose Work Type</option>
                          <option value="CECL">CECL</option>
                          <option value="CCAR">CCAR</option>
                          <option value="Resolution Planning">Resolution Planning</option>
                      </select>
                  </div>

                  <div class="form-group">
                      <label for="start_date">Start Date</label>
                      <select class="form-control" name="start_date">
                          <option value="1">Choose Start Date</option>
                          <option value="06/03/19">06/03/19</option>
                          <option value="06/10/19">06/10/19</option>
                          <option value="06/17/19">06/17/19</option>
                      </select>
                  </div>

                  <div class="form-group">
                      <label for="duration">TM</label>
                      <select class="form-control" name="TM">
                          <option value="1">Choose your TM</option>
                          <option value="Sarah Raymond">Sarah Raymond</option>
                          <option value="Jamie Rockmore">Jamie Rockmore</option>
                      </select>
                  </div>

                  <label>Upload resume PDF file here</label>
                  <p><input type=file name=file>

                  <hr>

                  <button type="submit" name='submit' class="btn btn-default" value="Form sent!">Submit</button>
              </form>
          </div>
      </div>
  </div>
</body>
</html>
