<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="
mailto:{{manager_email}}
?cc={{tm_email}}
&subject=Interest in {{project_name}} project
&body=
Hi {{partner_name}}, %0A
%0A
My name is {{consultant_name}} and I am a {{consultant_practice}} {{consultant_level}} in the {{office_name}} office. %0A
%0A
I read about the {{project_name}} project via the staffing portal and wanted to reach out to express my interest and to learn more. %0A
%0A
Would you be available sometime this week or next to chat further? If so, I will sent up some time on our calendars that works for both of us. %0A
%0A
Thanks, %0A
{{consultant_name}}
">Interested? Send an email to the project manager!</a>
</body>
</html>