<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='logo.css') }}">
</head>
<body>
<div><a href="/"><image src="{{url_for('static', filename = 'staffbot_logo.png')}}" alt = "centered image" width="200px" id="logo"></image></a></div>
<div class="container">
      <div class="row">
          <h3>Test Email</h3>
      </div>
      StaffBot has matched projects to consultants. Emails confirming these matches have been sent to the partner and consultants respective emails.
</div>
</body>
</html>
